

.app-modal {
    z-index: 60;
}

.app-modal .request-dialog {
    max-height: calc(100vh - var(--tile) * 2);
}

.donate-dialog {
    height: min(calc(var(--tile) * 23), calc(100vh - var(--tile) * 2));
}

@media (max-width: 560px) {
    .app-modal {
        padding: calc(var(--tile) / 2);
    }

    .app-modal .request-dialog {
        width: calc(100vw - var(--tile));
        height: min(calc(var(--tile) * 29), calc(100vh - var(--tile)));
    }

    .app-modal .donate-dialog {
        height: min(calc(var(--tile) * 25), calc(100vh - var(--tile)));
    }
}
